<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poweredDownAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>shutDownSite_</string>
		<key>delay</key>
		<integer>0</integer>
		<key>animationFrames</key>
		<string>2</string>
	</dict>
	<key>Type</key>
	<string></string>
	<key>poweredUpAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>shutDownSite_</string>
		<key>delay</key>
		<integer>0</integer>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
</dict>
</plist>
